/Evolution/
# Compiled class file
*.class

# Log file
*.log

# Eclipse Project Files
.project
.classpath
.settings/
bin/
tmp/
*.properties

# Eclipse
/.metadata/
*.tmp
*.bak
*.swp
*~.nib

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# IntelliJ IDEA (se alguém usar)
.idea/
*.iml

# Mac OS
.DS_Store

# Gradle (se usado)
.gradle/
build/

# Outros
hs_err_pid*
local.properties
